@media screen and (max-width: 1029px) { /*First column break*/
  .room-index {
    height: auto;
  }
  .room-pic {
    width: 35%;
    height: auto!important;
  }
  input {
    width: 140px;
  }
  .details {
    font-size: 12px;
  }
}
