/* CSS declarations go here */
body {
 font-family: "helvetica neue";
 font-style: normal;
 font-weight: normal;
 background-color: #000000;
 background-image: url("images/black_thread_@2X.png");
 color: #fff;
 margin:0;
 padding:0;
 overflow-x: hidden;
 font-smoothing: antialiased;
 osx-font-smoothing: grayscale;
}

header {
  margin-bottom: 10px;
  /*display: block;*/
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .8;
  width: 100%;
  height: 50px;
}

.back {
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid red;
	border-bottom: 25px solid transparent;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

#rental {
  padding-top: 0!important;
}

#login-buttons {
  top: 15px;
  left: 60px;
  display: block;
  position: fixed;
}

h1 {
  text-align: center;
}

h4 {
  display: inline;
}

a {
  font-size: 18px;
  color: #fff;
}

.inclusion {
  display: block;
}

.includes {
  display: block;
  width: 50% !important;
  text-align: center;
  margin: 0 auto;
  text-decoration: underline;
}

#author-div {
  margin-top: 3px;
  background-image: url("images/writer.jpg");
  background-position: center;
  background-size: cover;
}

.authors {
  padding: 5em;
  width: 70%;
  line-height: 1.4em;
  margin: 0 auto;
}

#love {
  text-align: center;
  font-size: 80px;
}

.toggle-chat {
  background-color: red;
  width: 50px;
  height: 30px;
  float: right;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.about {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
  margin: 0 auto;
}



.twain {
  margin-top: 10px;
  width: 100%;
  /*position: relative;*/
  display: block;
}

.house-pic {
  margin: 0 auto;
  width: 500px;
  display: block;
  border: 5px solid #fff;
}

#one {
  float: left;
  display: inline-block;
  width: 47%;
  padding-left: 2%;
}

#two {
  float:right;
  display: inline-block;
  width: 47%;
  padding-right: 2%;
}

.number-par {
  text-align: left;
}

.description {
  width: 50%;
  margin: 0 auto;
}

#twain {
  margin: 0 auto;
  width: 270px;
  height: 315px;
  background-color: black;
  border-radius: 150px;
  background-image: url("images/twain.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hemingway {
  margin: 0 auto;
  width: 270px;
  height: 315px;
  background-color: black;
  border-radius: 150px;
  background-image: url("images/Hemingway.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.houses {
  box-sizing: content-box;
  min-height: 31.25em;
  text-align: center;
  display: block;
  width: 100%;
  padding-bottom: 50px;
}

.room-pic {
  display: block;
  float: left;
  /*width: ;*/
  height: 100%;
  max-width: 308px;
}

.details {
  width: 27.5%;
  float: left;
  box-sizing: border-box;
  display: block;
  letter-spacing: 1px;
  padding: 2px;
  margin-left: 1em;
}

.room-index {
  margin: 0 auto;
  width: 70%;
  border: 1px solid gray;
  height: 220px;
  box-sizing: border-box;
  flex: auto;
  background-color: black;
}

.room-key {
  list-style: none;
  padding: 2px;
  text-align: center;
  font-size: 1.07em;
}

.payment {
  float: right;
  box-sizing: border-box;
}

.price {
 text-align: center;
}

.paypal {
  /*float: right;*/
}

.messages {
  color: black;
  font-size: 1.3em;
  font-weight: lighter;
  float: right;
  display: block;
  position: fixed;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: black;
  background-image: url("images/paper.png");
  display: none;
}

.message-input {
  height: 40px;
  font-size: 1em;
  width: 100%;
  margin: 0 auto;
}

.messages li {
  list-style: none;
}

.delete {
  font-weight: bold;
  cursor: pointer;
}

#waiver {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  background-image: url("images/paper.png");
  color: black;
  padding:3em;
}
